#formContainer {
	padding:10px;
	border-collapse:collapse;
	color:#333;
}

#formContainer p{
	margin-left:0px;}

#formContainer ul#tabs {
}
#formContainer ul#tabs li {
	float:left;
	background:#fff;
	padding:5px;
}
.field {
	float:left;
	width:33.33%;
	margin-bottom:15px;
}
label {
	display:block;
	width:100%;

}
.field sup {
	color:#F00;
}
.formLeftContent {
	float:left;
}
.textField {
	border:1px solid #CCC;
width:94%;
	margin:0 auto;

	padding:2% 1%;
	
}
.textField, .selectField {
	background:#f6f6f6;
}


.selectField option {background:#FFF;}

.selectField {
		border:1px solid #CCC;
width:94%;
	margin:0 auto;

	padding:2% 1%;
}
.borderBottom {
	border-bottom:1px solid #CCC;
	margin-bottom:5px;
}
/***************  terms & condition  ****************/

.body_text {
	padding:5px 10px;
	height:300px;
	overflow:auto;
	margin-bottom:20px;
	background:#F7F7F7;
	border:1px solid #CCC;
	line-height:18px;
}
.body_text ol {
	margin:0px;
	padding:0px;
}
.body_text ol li {
	margin-bottom:15px;
}
.body_text ol li strong {
	color:#333;
}
.paragraph {
	margin-bottom:20px;
}
.bottomSpace {
	margin-bottom:20px;
}
.newMaroonBtn {
	width:auto;
	height:auto;
	padding:10px;
	margin-right:15px;
	background:#000;
	color:#fff;
	font-weight:bold;
	display:block;
	margin-top:0px;
	border:0px;
	cursor:pointer;
}
.newMaroonBtn:hover {
	background:#8873bd;
}
.agreement {
	background:#F7F7F7;
	padding:5px;
	margin-bottom:20px;
}
.leftContent {
	float:left;
}
.rightContent {
	float:left;
	padding-top:3px;
}
.rightContent span {
	display:inline-block;
	width:40px;
}
.rightContent .radioBtn {
	margin-right:55px;
	
}
/****************************************************/
	
	
#form ul.matterText, #form ul.matterText_1 {
	margin:0px;
	padding:0px;
	list-style:none;
}
#form ul.matterText li {
	min-width:175px;
	float:left;
	background:none;
	padding:0;
	margin:0;
}
#form ul.matterText_1 li {
	min-width:180px;
	float:left;
}
#form ul.matterText li span, #form ul.matterText_1 li span {
	width:auto;
	
}

#form ul.matterText li input {width:18px; height:18px; padding:0px; vertical-align: middle; border:none;}





#form .leftTitle {
	min-width:250px;
	display:block;
	float:left;
	/*	font-weight:bold;*/
    font-size:12px;
	padding-top:10px;
	/*color:#8873bd;*/
	font-weight:bold;
}


#form .midTitle {
	min-width:250px;
	display:block;
	float:left;
	/*	font-weight:bold;*/
font-size:12px;
/*	color:#751c54;*/
}
/**********************************************************/

.maroonBtn {
	float:left;
}
#formContainer .title {
	font-weight:bold;
	font-size:15px;
	line-height:25px;
	display:block;
	border-bottom:1px solid #dedede;
	margin-bottom:5px;
	background:#f5f1ff;
	padding-left:10px;
}

/*******************************************************************/

#formContainer ol{
	
	margin:0 0 0 20px;
	padding:0;
	}
	
#formContainer ol li{
	list-style:decimal;
	line-height:normal;
	padding-bottom:10px;
	}
	
/*******************************************************/

.approval
	{width:auto;
	 height:auto;
	 /*margin-top:22px;*/
	 float:right;
	 margin-right:40px;
	 }

.status
	{
	 margin-right:20px;

	 font-weight:bold;
	 
	 }

.appr
	{
	 }


.booknow
	{color:#751b53;}

.booknow a
	{color:#fff !important;
	text-decoration:none;
	float:right;
	width:92px;
	height:auto;
	line-height:26px;
	background: url(../images/bookNow.jpg) no-repeat center bottom;
	padding-left:10px;
	font-weight:bold;
	}

.booknow a:hover
	{ color:#fff !important;
	background: url(../images/bookNow.jpg) no-repeat center top;}
	
	.userPic{
float:left;
margin-right:20px;
border:1px solid #ccc;
}




.userPic img{
	width:100px;
	height:100px;
	}

.leftFile{
	float:left;
	width:350px;
	}
	
.leftFile p{
	margin-bottom:5px;
	}

/**************************************************************************/

.note{width:auto;
height: auto;
font-style:italic;
margin-top:20px;
margin-bottom:10px;
}


.bottmMargin{
	margin-bottom:10px;}
	



.paymentMode span{
	width:auto !important; }
	
.radio{
margin-right:20px;
width:16px; 
height:16px; 
padding:0px; 
vertical-align:middle !important; 
border:none;

}

#personalData{

}


#personalData .leftPic{

border:1px #bbbbbb solid;
/*float:left;*/

margin-bottom:10px;
}


#personalData .leftPic img{
width:100px;
height:100px;
}

#personalData .right_text{
float:right;
width:500px;
}

#personalData .right_text table td{
padding:5px;

}

#personalData .right_text table{width:auto !important;}


#personalData .right_text table td.bold{
font-weight:bold;

}


.maroonBtn{
float:left;
}

.maroonBtn a{
background:#000;
color:#fff !important;
padding:4px 8px;
display:block;
min-width:52px;
text-align:center;
font-weight:bold;
}

.maroonBtn a:hover{
/*background:#000 url(../images/white_arrow.png) no-repeat;
background-position:135px center;*/
background:#9c8c54;
color:#FFF;
}

/*.bgImage{
	background:#efefef;}*/

/* XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX */




#formWrapper{
	width: auto;
	float:left;
	padding:15px;
	}

table.formManual{
	margin:0px;
	border-collapse:collapse;
	width:100%;}	
	
table.formManual td, table.formManual th{
	padding:5px;
	vertical-align: middle;
	}
	
table.formManual th{
	background:#d9d9d9;
	text-align:left;
	color:#000;
	}
	
table.formManual td input[type="text"]	{width:95%; height:auto; padding:5px 4px;}

table.formManual td select {width:100%; height:auto; padding:5px 3px;}

table.formManual td select option {background:#fff !important;}

table.formManual td sup {color:#F00; font-weight:bold;}


table.formManual td .bgcolor {background:#f6f6f6 !important; border:1px solid #ccc; font-size:14px;}	
table.formManual td .bgcolor:focus  {background:#f5f1ff !important; border:1px solid #8873bd;}	

table.formManual td input[type="submit"], table.formManual td input[type="button"] 
{width:auto; height:auto; float:left; padding:10px; margin-right:15px; background:#000; color:#fff; font-weight:bold; display:block; margin-top:0px; border:0px; cursor:pointer;}

table.formManual td input[type="submit"]:hover, table.formManual td input[type="button"]:hover {background:#8873bd; color:#fff;}



.grayBlock{
background:#fafafa;
border:1px solid #dedede;
padding:10px 0px;
margin:0px 20px 20px;
}

.grayBlock:hover{
background:#f5f1ff;
}

/******************************* NEW CSS ***********************/

.tablewidth_103{
	width: 100%;
	text-align:left;
	height:80px;
	float:left;
	
}

.size_text_bg{
	background-image:url(../images/size_text_bg.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	height:70px;
	width:300px;
	float:left;
	padding:3px;
	margin-top:0px;
}

.size_text_bg_text{
	height:60px;
	width:295px;
	float:left;
	margin-right:10px;
	font-size:12px;
	color:#333333;
	border:0px;
	outline:none;
	line-height:18px;
	border:1px solid #ccc;
	background:#f6f6f6;
}


.size_text_bg_select{
	height:60px;
	width:250px;
	float:left;
	margin-right:10px;
	font-size:12px;
	color:#333333;
	border:1px solid #E8E8E8;
	outline:none;
	line-height:18px;
	padding:5px;
}




.form_text_bg{
	background-image:url(../images/login_text_bg.jpg);
	background-repeat: no-repeat;
	background-position: left top;
	min-height:23px;
	width:300px;
	float:left;
	padding:3px;
	margin-top:0px;
}

.member_text{
	width:200px;
	height:20px;
	float:left;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#000;
	padding-top:0px;
}


.d_search_box{
margin-bottom:10px;
color:#70134a;
padding:10px;
background:#f6f6f6;
}

.auto_textwidth_new{
float:left; 
width:490px;
font-size:12px;
line-height:15px;
color:#333333;
 }


.auto_match_img{
float:left; 
width:130px; 
height: auto; 
margin-right:25px;
}

.auto_match_img img
	{width:auto; height:auto; max-width:130px; max-height:128px; border:1px solid #ccc;}
	
.infor {margin-bottom:10px;}	



.error_msg{
color: #F00;

clear: both;
font-size: 11px;
padding: 0px !important;

}

.auto_match_view{
	float:left;
	width:110px;
	background-image:url(../images/view_button.png);
	background-repeat: repeat-x;
	background-position: center top;
	height: 22px;
	color:#000;
	padding:5px 0 0 12px;
	margin:5px 5px 0 0;
}
.auto_match_view a:link{
	float:left;
	color:#000;
}
.auto_match_view a:visitd{
	float:left;
	color:#000;
}
.auto_match_view a:hover{
	float:left;
	color: #fff;
}

.auto_enquiry{
	float:left;
	width:90px;
	background-image:url(../images/view_button.png);
	background-repeat: repeat-x;
	background-position: center top;
	height: 22px;
	color:#000;
	padding:5px 0 0 12px;
	margin:5px 5px 0 0;
}
.auto_enquiry a:link{
	float:left;
	color:#000;
}
.auto_enquiry a:visitd{
	float:left;
	color:#000;
}.auto_enquiry a:hover{
	float:left;
	color: #fff;
}

.dotet_line{
border-bottom:solid thin #cdcdcd; margin: 10px 0 10px 0;
}	

.number_page{
float:right;  font-size:12px; 
}
.prev{
float:left;
width: auto;
color:#000 ;
margin:0px 10px 0 0px;
background-color:#000;
}
.prev a{
color:#fff;
display:block;
padding:2px 5px 2px 5px;

}
.prev a:hover{
background:#8873bd;
color:#fff;
}


.next{
float:left; 
width: auto;
color:#FFF;
background-color:#000;
margin:0px 0 0 10px;
}
.next a{
color:#fff;
display:block;
padding:2px 5px 2px 5px;
}
.next a:hover{
background:#8873bd;
color:#fff;
}



.number_1{
float:left; 
width: auto;
padding:2px;
float:left;
}
.number_1 a:link{
padding:2px 3px 2px 3px;
}
.number_1 a:visited{
padding:2px 3px 2px 3px;
}
.number_1 a:hover{
background-color:#f5f1ff;
color:#000;
padding:2px 3px 2px 3px;
}
.number_1 .active{
background-color:#8873bd; 
color:#FFFFFF;
padding:2px 3px 2px 3px;
}

#tabs {margin:0px; padding:0px; list-style:none; background:#0CF;}
	
#tabs li {margin:0px 5px; padding:5px 10px !important; width:130px; display: inline-block; background:#ccc !important; font-family:cabin; text-align:center; font-size:14px; font-weight:bold; border:1px solid #bbb; position:relative; overflow: visible; }
	
#tabs li a {color:#333;}
#tabs li a:hover {color:#333 !important; }
#tabs li#current {background-color: #111 !important;}	
#tabs li#current a {color: #FFF !important;}	

#tabs li#current .dwn_arw {display:none;}
#tabs li#current .dwn_arw {position:absolute; bottom:-10px; left:50%; margin-left:-8px; background: url(../images/dwn_arw.png); width:16px; height:10px; display:block;}



.catalogue_detail {width:auto; border:1px solid #ccc; margin-top:15px; position:relative;}

.catalogue_detail:hover {background:#f5f1ff;}

.cross {position:absolute; top:10px; right:10px;}

.catalogue_detail table {border:1px solid #ccc; border-collapse:collapse;}

.catalogue_detail table td {padding:3px 5px; }

.catalogue_detail .cat_img {width:130px; height:auto; float:left; margin:10px; border:1px solid #ccc;}

.catalogue_detail .cat_img img {width:130px; height:auto;}

.catalogue_detail .cat_pro_det {width:450px; height:auto; float:left; margin:10px;}

.catalogue_detail .cat_met_det {width:300px; height:auto; float:left; margin:10px;}



@media (max-width:991px) {
.field {width:50%; }
}

@media (max-width:600px) {
.field {width:100%; }
}