/*
|--------------------------------------------------------------------------
| UItoTop jQuery Plugin 1.1
| http://www.mattvarone.com/web-design/uitotop-jquery-plugin/
|--------------------------------------------------------------------------
*/

#toTop {
	display:none;
	position:fixed;
	bottom:30px;
	right:30px;
	overflow:hidden;
	width:51px;
	height:51px;
	border:none;
	text-indent:-999px;
	background:url(../images/ui.totop.png) no-repeat left -51px;
}

#toTopHover {
	background:url(../images/ui.totop.png) no-repeat left top;
	width:51px;
	height:51px;
	display:block;
	overflow:hidden;
	float:left;
	opacity: 1.0;
	-moz-opacity: 1.0;
	filter:alpha(opacity=100);
}

#toTop:active, #toTop:focus {
	outline:none;
}